<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_head(title)">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title th:replace="${title}">Layout</title>
	<link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
</head>

<body th:fragment="common_body(header,content)">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/"> Home</a> 
		</div>
	</div>
	<h1 th:replace="${header}">Layout</h1>
	<div th:replace="${content}">Fake content</div>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js" />
	</body>
</html>