<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Shipping</title>
</head>
<body>
	<h1 layout:fragment="header">Shipping</h1>
	<div layout:fragment="content" class="container">

		<div class="row">
			<div class="col-md-2">
				<b>Customer</b>
			</div>
			<div class="col-md-2"
				th:text="${shipment.customer.firstname}+' '+${shipment.customer.name}"></div>
		</div>

		<div class="row">
			<h2>Shipping Address</h2>
		</div>

		<div class="row">
			<div class="col-md-2">
				<b>Street</b>
			</div>
			<div class="col-md-2" th:text="${shipment.shippingAddress.street}"></div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<b>Zip</b>
			</div>
			<div class="col-md-2" th:text="${shipment.shippingAddress.zip}"></div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<b>City</b>
			</div>
			<div class="col-md-2" th:text="${shipment.shippingAddress.city}"></div>
		</div>

		<div class="row">
			<h2>Shipment Lines</h2>
		</div>

		<div class="row">
			<div class="col-md-2">
				<b>Quantity</b>
			</div>
			<div class="col-md-2">
				<b>Item Id</b>
			</div>
			<div class="col-md-2">
				<b>Item Name</b>
			</div>
		</div>

		<div class="row" th:each="shipmentLine : ${shipment.shipmentLine}">
			<div class="col-md-2" th:text="${shipmentLine.count}"></div>
			<div class="col-md-2" th:text="${shipmentLine.item.itemId}"></div>
			<div class="col-md-2" th:text="${shipmentLine.item.name}"></div>
		</div>

	</div>
</body>
</html>