<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: common_head(~{::title})}">
	<title>Shipments : View all</title>
</head>

<body th:replace="~{layout :: common_body(~{::h1},~{::#content})}">

	<h1>Shipments : View all</h1>
	<div id="content" class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Customer</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${shipments.empty}">
					<td colspan="4">No shipments</td>
				</tr>
				<tr th:each="shipment : ${shipments}">
					<td><a href="shipment/1" th:href="${shipment.id}" th:text="${shipment.id}">1</a></td>
					<td th:text="${shipment.customer.firstname} + ' ' + ${shipment.customer.name}">Firstname
						Name</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>