<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Shipments : View all</title>
</head>
<body>
	<h1 layout:fragment="header">Shipments : View all</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Customer</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${shipments.empty}">
					<td colspan="4">No shipments</td>
				</tr>
				<tr th:each="shipment : ${shipments}">
					<td><a href="shipment/1" th:href="${shipment.id}"
						th:text="${shipment.id}">1</a></td>
					<td
						th:text="${shipment.customer.firstname} + ' ' + ${shipment.customer.name}">Firstname
						Name</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>